/* h1{
    color:red;
}
p{
    color:deeppink;
}
h2{
    color:rgb(240, 14, 172);
}
h3{
    color:#ffeacb;
}
button{
    color:blue;
    background-color: chartreuse;
}
body{
    background-color: darkslategrey;
} */

/* #myid{
    background-color:blue;
}
.heading{
    color:red;
}
button{
    color:green;
}
h4,p{
    color:pink;
}
#abc{
    color:darkslategrey;
} */

/* p{
    text-align:center;
    line-height:normal;
    font-size:30px;
    font-weight:lighter;

}

h1{
    font-size:30px;
    text-align: center;
    text-decoration: dotted underline overline;
    font-weight:800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: left;
    font-weight:lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: green double overline underline;
}

#h101{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} */

/* div{
    height:100px;
    width:200px;
    background-color: aquamarine;
} */


/* p{
    height:50px;
    width:200px;
    background-color: red;
    color:yellow;
    text-align:center;
    border:5px solid aqua;
} */

 /* h3{ */
    /* height:60px;
    width:60px;
    text-align: center;
    background-color: orchid;
    color: black;
    border: 4px dashed, yellow;
    border-radius:10%;
    padding:15px 2px 1px 2px; */
    /* margin:100px,20px,80px,10px; */
/* }  */

/* #div101{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */

/*                    TRAFFIC LIGHT SYSTEM 
#ts{
    height:200px;
    width:70px;
    background-color:black;
    color:white;
    padding:5px;
}

#tlight1{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color: red;
    padding:3px;
    text-align: center;
    margin:8px auto;
    animation: redLight 6s 1;
}
#tlight2{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color: yellow;
    padding:3px;
    text-align: center;
    margin:8px auto;
    animation: yellowLight 6s 1;
}
#tlight3{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color: green;
    padding:3px;
    text-align: center;
    margin:8px auto;
    animation: greenLight 6s 1;
}

@keyframes redLight {
    0%, 33% { 
        background-color: red;
    }
    34%, 100% {
         background-color: grey;
    }
}

@keyframes yellowLight {
    0%, 33% { 
        background-color: grey; 
    }
    34%, 66% { 
        background-color: yellow; 
    }
    67%, 100% { 
        background-color: grey; 
    }
}

@keyframes greenLight {
    0%, 66% { 
        background-color: grey; 
    }
    67%, 100% { 
        background-color: green; 
    }
}                                   TRAFFIC LIGHT SYSTEM*/

/* h2{
    height:100px;
    width: 100px;
    color:black;
    background-color: coral;
    border-radius: 10px;
    text-align:center;
    padding:70px 10px 5px 10px;
    margin:20px;
    animation:blinking 2s 5;
}

@keyframes blinking{
    0%,33% {
        background-color:green;
    }
    34%,66% {
        background-color: blue;
    }
    67%, 100%{
        background-color: pink;
    }
} */




/* PRACTICE*/
                    /* AMAZON NAVIGATION BAR*/
 /* *{
    color:white;
}

body{
    background-color: rgb(83, 188, 245);
}

#navbar{
    height:60px; 
    width:850px;
    background-color:#0f1111;
    border: 4px solid white;
    position:fixed;
    top:3px; */
/* }  

 button{
    background-color: #f08804;
}
#logo{
    color:#f08804;
    font-size:25px;
} 
a{
    display:inline-block;
    margin-right:70px;
    text-decoration: none; 
}                        AMAZON NAVIGATION BAR  */

/* 
.c1{ */
    /* background-color: darkblue; */
    /* height: 100px;
    width:100px;
    padding:25px;
    margin:90px 25px 25px 25px; */
    /* border:3px solid white;
    display:inline-block;
    border-radius: 25px; */
    /* border-radius: 10px; */
/* }
#d1{
    background-image:url("mustang_photo.jpg"); 
    background-size: cover;
}
#d2{
    background-color: rgba(0,200,0,0.5);
}
#d3{
    background-color: rgba(0,0,200,0.5);
}
#box1{
    height:200px;
    width:200px;
    font-size:5px;
    background-color: crimson;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin:20px;
}
#box2{
    height:60px;
    width:60px; */
    /* font-size:2em; */
    /* background-color: darksalmon; */
    /* width:5em; */
/* }
#sb{
    height:70px;
    width:50px;
    text-align:center;
    padding:10px;
    background-color: rgb(255, 0, 0);
    position: sticky;
    top:60px;
}
#division{
    /* used for ads or some side line boxes */
    /* height: 70px;
    width: 70px;
    text-align:center;
    padding:30px;
    background-color: rgb(40, 4, 91);
    background-image: url("sephora.jpg");
    background-size: cover;
    position: fixed;
    top:80px;
    right:10px;
} */
/* #ps5{
    height: 60px;
    width:60px;
    background-color: rgb(0,0,225);
    margin:8px;
    padding:10px;
    position:fixed;
    bottom:15px;
    right:2px;
}

#flexbox{
    height:200px;
    width:600px;
    border:4px solid black;
    margin:25px;
    text-align: center;
    display:flex;
    flex-direction:row;  */
    /* justify-content: space-evenly; */
    /* flex-wrap:wrap; */
    /* align-items: baseline;


}
.boxes{
    height:75px;
    width:75px;
    text-align: center;
    display: inline-block;

}
#tr{
    height:60px;
    width:60px;
    display:inline-block;
    background-color: deeppink;
    color:black;
    border-radius:10px;
    border:4px solid yellow;
    margin:30px;
    padding:10px;
    transition:all 2s ease-in 0s;
    /* transform:rotate(125deg); */
/* }
#tr:hover{
    background-color: green; */
    /*color:white; */
    /* transform:rotateZ(90deg); */
    /* transform:translateY(-100px);
    font-family:Arial, Helvetica, sans-serif;
    font-size:70%;
}
#tr:active{
    background-color: white;
    color:red;
    transform:rotate(90deg);
}
#dl{
    height:30px;
    width:30px;
    background-color:darkblue;
    border:1px solid black;
    border-radius:50%;
    display:inline-block;
    margin:20px;
    padding:20px; */
    /* position:relative; */
    /* animation-name:disco;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay:2s; */
    /* animation-direction: reverse; */
/*}
@keyframes disco{
    0%,33%{ background-color: darkgreen;*/
        /* left:0px; */
        /* right:0px} */
    /*}
    34%,50%{
        background-color: blue;
    }
    51%,75%{
        background-color: rgb(180,0,0);  */
        /* left:100px; */
        /* right:100px; */
   /* }
    76%,100%{
        background-color: #f08804;
    }
}  */

/*   #check{                   SIMPLE LOADER  */
   /* height:90px;
    width:90px;  */
    /* background-color: white; */
   /* background-color: white;
    margin:40px;
    padding:50px;
    padding-bottom: 60px;
    padding-right: 70px;
}
#ps8{
    height:40px;
    width:40px;
    border-radius: 50%;
    border:4px solid #69B578;
    border-top: 4px solid #D0DB97;
    margin:30px;
    padding:5px;     */
    
    /* border:1px solid black; */
    /*animation:spinit 2s ease-in-out 0s 5;
}
@keyframes spinit{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }*/
/*}                          SIMPLE LOADER*/
/*footer{
    background-color: black;
    text-align: center;
    font-size: small;   */
/*}        PRACTICE*/


/* AMAZON CLONE */
*{
    font-family:arial;
    font-size:small;
    border:border-box;
}
.navbar{
    height:60px;
    /* width: 1280px; */
    background-color: #0F1111;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding-left:5px;

}
.navlogo{
    height:50px;
    width:100px;
    border-radius:2px;
    /* display:flex; */
}
.logo{
    height:50px;
    width:100%;
    background-image:url("amazon-logo2.jpg");
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.addr{
    height:50px;
}
.addr-loc{
    display:flex;
    /* align-items: center; */
    padding-bottom:15px;
}
.ad1{
    color:#cccccc;
    margin-left:15px;
    font-size:0.85rem;
    margin-bottom:0;
}
.ad2{
    font-size:1rem;
    margin-left:3px;
    margin:0;
}
.nav-search{
    display:flex;
    height:40px;
    width:620px;
    margin-left:7px;
    border-radius:5px;
}
.nav-search:hover{
    border:2px solid orange;
}
#all{
    height:40px;
    width:50px;
    text-align:center;
    font-size:smaller;
    background-color: #E6E6E6;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#inp{
    height:38px;
    width:565px;
    border:none;
    font-size:1.25rem;
    font-family:Arial, Helvetica, sans-serif;
}
.searchlogo{
    height:40px;
    width:45px;
    color:black;
    font-size:5rem;
    background-color:#f08804 ;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-loc{
    height:45;
    width:45;
    margin:0;
    padding:2px;
    display:flex;
    align-items: center;
}
.l1{
    margin:0;
    background-color: #0F1111;
    font-weight: 200;
    color:white;
    border:none;
    margin-top:0;
    font-size:1.25rem;
}
#flag{
    margin-bottom:0;
}
.signin{
    height:50px;
    width:113px;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
#signit{
    height:14px;
    width:100px;
    margin:0;
    font-size:0.70rem;
}
.acc{
    height:15px;
    width:110px;
    background-color: #0F1111;
    color:white;
    margin:0;
    font-size:0.95rem;
    font-weight:700;
    border:none;
}
.ret{
    height: 50px;
    width: 77px;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
}
.r1{
    height:14px;
    width: 58px;
    margin:0;
    font-size: 0.70rem;
}
.ord{
    height: 15px;
    width: 58px;
    font-size: 0.95rem;
    font-weight: 700;
    margin:0;
}
.cart i{
    font-size:22px;
    /* display: flex; */
    margin:0;
    padding:0;
    
}
.cart p{
    height: 15px;
    width: 28px;
    font-size:0.95rem;
    font-weight: 700;
    position:relative;                  /*    *****   */
    top:5px;
    margin:0;
    padding:0;
}
.cart{
    height:50px;
    width:84px;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2px;
}


.part2{
    height: 39px;
    /* width: 1284px; */
    background-color: #232F3E;
    display:flex;
    align-items: center;
}
.menu-bar{
    height:34px;
    width:54px;
    color:white;
    display: flex;
    justify-content: center;
}
.menu-bar i{
    height:16px;
    width:17px;
    font-size:16px;
    margin:0;
    position: relative;
    top:8px;
}
.menu-bar p{
    height: 12px;
    width: 23px;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    bottom:3px;
}
.content{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left:2px;
}
.content div{
    height:39px;
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:2px 4px 0 4px;
    font-weight: 450;
    font-size:14px;
    text-decoration: none;
}

.herosec{
    height:350px;
    background-image: url("amazon-homepage-pic.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: end;
}
.heronote{
    height:40px;
    width:98%;
    background-color: white;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.10rem;
    font-weight:548;
    margin-bottom:45px;

}
.heronote a{
    width: 185px;
    margin: 0;
    color:#2162A1;
}

.shopsec{
    /* height:900px; */
    /* width:98%; */
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-color: #e2e7e6;
}
.b12{
    height:360px;
    width: 23%;
    /* border:2px solid black; */
    background-color: white;
    /* padding-top:20px;*/
    margin-top:23px;
    margin-bottom:20px;
    padding:10px 0px 15px;
}
.b12 h2{
    font-size:21px;
    color:#0F1111;
    font-weight:780;
}
.box-img{
    height:260px;
    background-size:cover;
    /* background-repeat: no-repeat; */
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-cont{
    margin-left:1rem;
    margin-right:1rem;
}
.box-cont p{
    color:#2162A1;
    font-size:13px;
}

.f1{
    height:49px;
    background-color: #37475A;
    text-align: center;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.f2{
    display:flex;
    background-color: #232F3E;
    justify-content: space-evenly;
}
.fheight{
    height:292px;
    display:flex;
    flex-direction: column;
    margin-top:40px;
}
.hg1{
    font-size:16px;
    font-weight: 700;
    color:white;
    margin:5px;
    margin-left:0;
}
.anc{
    color:#DDDDDD;
    font-size:14px;
    text-decoration: none;
    margin:7px;
    margin-left:0;
}

.footpanel{
    height:68px;
    background-color: #232F3E;
    border-top:0.3px solid white;
    display: flex;
    justify-content: center;
}
.copyr-panel{
    height:77px;
    background-color: #131A22;
    color:#DDDDDD;
    text-align: center;
    padding-top:10px;
}
.afoot{
    margin:10px;
    margin-top:15px 0px;
    text-decoration: none;
    color:#DDDDDD;
}
.afoot:hover{
    text-decoration: #DDDDDD underline;
}
/* AMAZON CLONE */