
/* AMAZON CLONE */
*{
    font-family:arial;
    font-size:small;
    border:border-box;
}
.navbar{
    height:60px;
    /* width: 1280px; */
    background-color: #0F1111;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding-left:5px;

}
.navlogo{
    height:50px;
    width:100px;
    border-radius:2px;
    /* display:flex; */
}
.logo{
    height:50px;
    width:100%;
    background-image:url("amazon-logo2.jpg");
    background-size: cover;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.addr{
    height:50px;
}
.addr-loc{
    display:flex;
    /* align-items: center; */
    padding-bottom:15px;
}
.ad1{
    color:#cccccc;
    margin-left:15px;
    font-size:0.85rem;
    margin-bottom:0;
}
.ad2{
    font-size:1rem;
    margin-left:3px;
    margin:0;
}
.nav-search{
    display:flex;
    height:40px;
    width:620px;
    margin-left:7px;
    border-radius:5px;
}
.nav-search:hover{
    border:2px solid orange;
}
#all{
    height:40px;
    width:50px;
    text-align:center;
    font-size:smaller;
    background-color: #E6E6E6;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#inp{
    height:38px;
    width:565px;
    border:none;
    font-size:1.25rem;
    font-family:Arial, Helvetica, sans-serif;
}
.searchlogo{
    height:40px;
    width:45px;
    color:black;
    font-size:5rem;
    background-color:#f08804 ;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-loc{
    height:45;
    width:45;
    margin:0;
    padding:2px;
    display:flex;
    align-items: center;
}
.l1{
    margin:0;
    background-color: #0F1111;
    font-weight: 200;
    color:white;
    border:none;
    margin-top:0;
    font-size:1.25rem;
}
#flag{
    margin-bottom:0;
}
.signin{
    height:50px;
    width:113px;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
}
#signit{
    height:14px;
    width:100px;
    margin:0;
    font-size:0.70rem;
}
.acc{
    height:15px;
    width:110px;
    background-color: #0F1111;
    color:white;
    margin:0;
    font-size:0.95rem;
    font-weight:700;
    border:none;
}
.ret{
    height: 50px;
    width: 77px;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
}
.r1{
    height:14px;
    width: 58px;
    margin:0;
    font-size: 0.70rem;
}
.ord{
    height: 15px;
    width: 58px;
    font-size: 0.95rem;
    font-weight: 700;
    margin:0;
}
.cart i{
    font-size:22px;
    /* display: flex; */
    margin:0;
    padding:0;
    
}
.cart p{
    height: 15px;
    width: 28px;
    font-size:0.95rem;
    font-weight: 700;
    position:relative;                  /*    *****   */
    top:5px;
    margin:0;
    padding:0;
}
.cart{
    height:50px;
    width:84px;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:2px;
}


.part2{
    height: 39px;
    /* width: 1284px; */
    background-color: #232F3E;
    display:flex;
    align-items: center;
}
.menu-bar{
    height:34px;
    width:54px;
    color:white;
    display: flex;
    justify-content: center;
}
.menu-bar i{
    height:16px;
    width:17px;
    font-size:16px;
    margin:0;
    position: relative;
    top:8px;
}
.menu-bar p{
    height: 12px;
    width: 23px;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    bottom:3px;
}
.content{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left:2px;
}
.content div{
    height:39px;
    color:white;
    display:flex;
    justify-content:center;
    align-items: center;
    margin:2px 4px 0 4px;
    font-weight: 450;
    font-size:14px;
    text-decoration: none;
}

.herosec{
    height:350px;
    background-image: url("amazon-homepage-pic.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: end;
}
.heronote{
    height:40px;
    width:98%;
    background-color: white;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.10rem;
    font-weight:548;
    margin-bottom:45px;

}
.heronote a{
    width: 185px;
    margin: 0;
    color:#2162A1;
}

.shopsec{
    /* height:900px; */
    /* width:98%; */
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-color: #e2e7e6;
}
.b12{
    height:360px;
    width: 23%;
    /* border:2px solid black; */
    background-color: white;
    /* padding-top:20px;*/
    margin-top:23px;
    margin-bottom:20px;
    padding:10px 0px 15px;
}
.b12 h2{
    font-size:21px;
    color:#0F1111;
    font-weight:780;
}
.box-img{
    height:260px;
    background-size:cover;
    /* background-repeat: no-repeat; */
    margin-top:1rem;
    margin-bottom:1rem;
}
.box-cont{
    margin-left:1rem;
    margin-right:1rem;
}
.box-cont p{
    color:#2162A1;
    font-size:13px;
}

.f1{
    height:49px;
    background-color: #37475A;
    text-align: center;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.f2{
    display:flex;
    background-color: #232F3E;
    justify-content: space-evenly;
}
.fheight{
    height:292px;
    display:flex;
    flex-direction: column;
    margin-top:40px;
}
.hg1{
    font-size:16px;
    font-weight: 700;
    color:white;
    margin:5px;
    margin-left:0;
}
.anc{
    color:#DDDDDD;
    font-size:14px;
    text-decoration: none;
    margin:7px;
    margin-left:0;
}

.footpanel{
    height:68px;
    background-color: #232F3E;
    border-top:0.3px solid white;
    display: flex;
    justify-content: center;
}
.copyr-panel{
    height:77px;
    background-color: #131A22;
    color:#DDDDDD;
    text-align: center;
    padding-top:10px;
}
.afoot{
    margin:10px;
    margin-top:15px 0px;
    text-decoration: none;
    color:#DDDDDD;
}
.afoot:hover{
    text-decoration: #DDDDDD underline;
}
/* AMAZON CLONE */